<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#222222">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
    <script src="/static/main.js" defer></script>
</head>

<body>
    <div class="container">
        <h1>Todoアプリ</h1>

        <!-- タスク追加フォーム -->
        <form id="add-form">
            <input type="text" id="title" name="title" placeholder="やることを入力" required>
            <button type="submit" id="add-button">Add</button>
        </form>

        <!-- タスク一覧 -->
        <h2>未分類のタスク</h2>
        <ul id="taskList"></ul>
        



        <!--朝のグループ-->
        <div class="flex-container">
            <h2 id="morning">朝(8:00-12:00)</h2>
            <button type="button" id="morning-add-task">+</button>
        </div>
        <ul id="morningList"></ul>

        <!--昼のグループ-->
        <div class="flex-container">
            <h2 id="afternoon">昼(12:00-18:00)</h2>
            <button type="button" id="afternoon-add-task">+</button>
        </div>
        <ul id="afternoonList"></ul>

        <!--夜のグループ-->
        <div class="flex-container">
            <h2 id="night">夜(18:00-24:00)</h2>
            <button type="button" id="night-add-task">+</button>
        </div>
        <ul id="nightList"></ul>

        <h2>完了したタスク</h2>
        <ul id="doneList"></ul>
    </div>
</body>
</html>